.action_buttons_container {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 180px;
  margin-right: 1rem;
}

.action_buttons_container button {
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  cursor: pointer;
}
