.cart_item {
  display: grid;
  grid-template-columns: 100px 1fr 140px;
  margin-bottom: 2rem;
}

.cart_item img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  align-self: center;
}

.total_price {
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 1rem;
}

.info > h3 {
  margin-bottom: 1.5rem;
}

.cta_container {
  display: flex;
  align-items: center;
}

.cta_container > svg {
  cursor: pointer;
  height: 36px;
  width: 36px;
}
