.menu_container img {
  width: 200px;
  height: 200px;
  margin-right: 2rem;
}

.menu_container .list {
  list-style-type: none;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.list_item {
  display: flex;
  margin-bottom: 1.5rem;
}

.product_info,
h2,
p {
  margin-bottom: 1rem;
}

.add_to_cart {
  font-size: 1rem;
  border: 1px solid #111;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add_to_cart:hover {
  background-color: #111;
  color: #fff;
}

.in_the_cart {
  background-color: #111;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: inline-block;
}

.menu_container > h1 {
  margin-bottom: 1.8rem;
}
