.shopping_container {
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  gap: 4rem;
}

.shopping_container > * {
  flex: 1;
}

@media (max-width: 1000px) {
  .shopping_container {
    flex-direction: column;
    padding: 4rem 4rem;
  }
}
